/* -------------
MAIN INFO
---------------*/


* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

html {
	zoom: 0.9;
	background-color: #fff;
	color: #444;
	font-weight: 500;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
}

body {
	font-family: 'Raleway', sans-serif;
}

button {
	outline: none;
  }

.flex-column {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.flex-row {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.row {
	width: 100%;
	margin: 0 auto;
}

.body {
	max-width: 1140px;
	margin: 0 auto;
}

section {
    padding: 50px 0;
}

/* .title {
	margin-bottom: 15px;
}

.title-text {
	width: 70%;
} */

.narrow {
	width: 70%;
	margin: 0 auto;
}

.nav button,
.suzinoti-daugiau button {
	text-transform: uppercase;
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1.1px;
	color: #eee;
	text-decoration: none;
}


.flex {
	display: flex;
	flex-wrap: wrap;
}

a {
	text-decoration: none;
}

/* -------------
HEADINGS
---------------*/
h1 {
	color: white;
	font-weight: 300;
	text-align: center;
	font-size: 30px;
}

h2 {

	font-weight: 400;
	letter-spacing: 1.1px;
	color: #131313;;
	Font-Family: 'Abril Fatface', Cursive;
Font-Size: 48px;
}

h3 {
	color: #eee;
	text-align: left;
	text-transform: uppercase;
	Font-Family: 'Poppins', Sans-Serif;
}

h5 {
	font-weight: 500;
	text-align: center;
}

h6 {
	padding: 8px;
	font-size: 15px;
	font-weight: 600;
}

p {
	font-size: 15px;
	text-align: justify;
	letter-spacing: 1.1px;
	Font-Family: 'Poppins', Sans-Serif;
	Font-Size: 14px;
}

h5,
h4 {
	padding-bottom: 10px;
	color: rgb(102, 125, 70);
	text-align: left;
	text-transform: uppercase;
	Font-Family: 'Poppins', Sans-Serif;
}

.card p {
	text-align: center;
	font-weight: 500;
}

#index6 p {
	color: #999;
}

.card a {
	text-decoration: none;
}

#index3 .product p {
	text-align: center;
	font-size: 13px;
}

.price p {

}

.box p {
	text-align: center;
	padding: 6px;
}

.title-text p {
	text-align: center;
}

footer p {
	font-size: 70%;
	color: #666;
}

/* -------------
HEADER
---------------*/

#header {

}

#logo {
	width: 200px;
	margin-top: 10px;
}

#navbar {
	display: flex;
}

.nav {
	background-color: #111;
	height: 60px;
	margin: 20px 0px 0px 0px;
}

.nav button {
	height: 60px;
	width: 130px;
	background-color: transparent;
	border: none;
}

.nav button:hover {
	color: rgb(102, 125, 70);
	transition-duration: 0.2s;
}

.menu {
	display:none;
	color: #eee;
}

.menu button {
	padding: 0;
	visibility: visible;
	position: absolute;
	right: 0;
	background-color: transparent;
	border:0;
	right: 30px;
}

.fa-bars {
	padding: 0;
	visibility: visible;
	font-size: 26px;
	padding: 12px 0;
	color: #eee;
}


.cover {

}

#slides {
	background-image: url(../images/coveriss.jpg);
	background-repeat: no-repeat;  
	background-size: cover;
	height: 700px;
	position: relative;
}

#hero-text {
	position: absolute;
	bottom: 120px;
	/* background-color: rgba(12, 9, 9, 0.89); */
	width: 50%;
	height: 210px;
}

#hero-text h1 {
	margin: 0 auto;
	padding: 40px;
}

.suzinoti-daugiau button {
	background-color: rgba(0, 0, 0, 0.3);
	padding: 18px 20px;
	border: 2px #fff solid;
}

.suzinoti-daugiau {
	position: absolute;
	top: 91%;
	transform: translateY(-50%);
}

.suzinoti-daugiau:hover {
	background-color: rgba(0, 0, 0, 0.664);
	transition-duration: 0.2s;
}

/* .image-line {
	background-image: url(../images/xxx.jpg);
	width: 1350px;
	background-size: cover;
}

.image-line-text {
	background-color: rgba(255, 255, 255, 0.513);
	padding: 20px 30px;
	margin: 40px 0;
} */

/* -------------
INDEX1
---------------*/

/* #index1 {
	padding-bottom: 0px;
}
*/

.ornament {
	width: 40px;
	margin-bottom: 15px;
} 

/* -------------
INDEX2
---------------*/

.index2-img {
	height: 700px;
	width: 525px;
}

.index2-img img {
	height: 700px;
	width: 525px;
	object-fit: cover;
}

.card {
	border-bottom: 1px rgba(0, 0, 0, 0.15) solid;
	padding-left: 9px;
}

.card-img {
	height: 220px;
	width: 307px;
	object-fit: cover;
	margin: 10px 0;
}

.no-border {
	border: none;
}

.card-text {
	width: 307px;
}

.card-text h5 {
	text-align: center;
}

.card-text p {
	padding: 0 20px;
	height: 40px;
	overflow: hidden;
}

.card-text img {
	width: 30px;
}

#index2 a {
	text-decoration: none;
	color: #444;
}

.card:hover {
	background-color: rgba(202, 201, 199, 0.143);
	transform: scale(1.005);
	transition-duration: 0.2s;
}


/* -------------
INDEX3
---------------*/

#index3 {
	background-color: #e0ddd7;
	background-size: cover;
	display: flex;
	justify-content: center;
}

#index3 .products {
	padding: 50px 0 10px 0;
}

#index3 .product {
	background-color: #fff;
	padding: 5px;
	margin: 0 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: relative;
	width:330px;
	height: 330px;
}

/* #index3 .product:hover {
	height: 370px;
	transition-duration: 0.3s;
} */

#index3 .product img {
	object-fit: cover;
	width: 320px;
	height: 320px;
}

/* .prices {
	background-color: #fff;
	width: 150px;
	border: 1px rgba(7, 7, 7, 0.37) solid;
	top: 87%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.price-text {
}

.price {
	color: #fff;
	background-color: #BB2528;
} */

.ziureti-daugiau {
	margin-top: 30px;
}

.ziureti-daugiau button {
	padding: 15px 30px;
	text-transform: uppercase;
	text-decoration: none;
	color: rgb(98, 98, 98);
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1.1px;
	background-color: rgba(255, 255, 255, 0.822);
	border: 1px rgba(170, 170, 170, 0.137) solid;
}

.ziureti-daugiau button:hover {
	color: #667d46;
	border: 1px #667d46 solid;
	transition-duration: 0.2s;
}

/* -------------
INDEX4
---------------*/

#index4 {

}

#index4 img {
	width: 400px;
	height: 400px;
	object-fit: cover;
	margin: 0 50px 0 0;
}

.index4-text {
	width: 400px;
}

#intarpas {
	background-image: url(../images/coverisss.jpg);
	background-size: cover;
	width: 100%;
}

.green {
	background: linear-gradient(to right, rgba(102, 125, 70, 0.77) 0%, rgba(102, 125, 70, 0.76) 16%, rgba(1102, 125, 70, 0.93) 72%, rgba(102, 125, 70, 0.95) 100%);
	padding-left:40px;
}

.grey {
	padding: 50px;
	width: 670px;
	background-color: #e0ddd7;
}

.grey h2 {
	color: #131313;
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}

.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  margin-top: -20px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}

.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
		opacity: 1;
	}
  100% {
    opacity: 0;
	transform: translateY(46px);
  }
}

/* -------------
INDEX5
---------------*/

#index5 {
	background-image: url(../images/w.jpg);
	background-size: cover;
	height: 600px;
	position: relative;
}

#circle {
    position: absolute;
    height: 400px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 0px solid black;
    border-radius: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#circle p {
    color: white;
	text-align: center;
	width: 300px;
	height: 200px;
	overflow: hidden;
}

/* -------------
INDEX6
---------------*/

#index6 {
	background-color: #111;
}

#index6 img {
	width: 400px;
	height: 400px;
	object-fit: cover;
	margin-right: 60px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.226), 0 6px 20px 0 rgba(0, 0, 0, 0.267);
}

.index6-text h4 {
	padding: 0;
}

.index6-text p {
	width: 700px;
}

.index6-img {
	position: relative;
}

#index6 h3 {
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	width: 250px;
	background-color: rgba(102, 125, 70, 0.77);
	padding: 25px;
}

#index6 i {
display: block;
font-size: 1.5em;
}

.index6-text .flex-row {
	align-items: flex-start;
	margin: 20px 0 0 0;
}

.budas p {
	width: 340px;
}

.budas2 {
	margin-left: 30px;
}

.index6-text3 {
	display:none;
}

.index6-text3 {
	width: 460px;
}

/* -------------
SVENTEMS1
---------------*/

#sventems1 .product {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: relative;
	margin: 0 10px;
	height: 133px;
	width: 200px;
}

#sventems1 img {
	object-fit: cover;
	width: 200px;
	height: 133px;
}

.category {
	width: 150px;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	color: #fff;
	text-transform: uppercase;
}

.category p {
	font-size: 17px;
	background-color: rgba(0, 0, 0, 0.39);
}

#sventems1 .product p {
	width: 200px;
	height: 133px;
	font-size: 14px;
	font-weight: 600;
}

#sventems1 .product p:hover {
	background-color: rgba(0, 0, 0, 0.486);
	transition-duration: 0.2s;
}

/* -------------
SVENTEMS2,3,4,5
---------------*/

#sventems2,
#sventems4,
#sventems6 {
	background-color: #e0ddd7;
}

.element {
	margin: 7px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.082), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.element1 {
	width: 570px;
	height: 427.5px;
	position: relative;
}

.element1 img  {
	object-fit: cover;
	width: 570px;
	height: 427.5px;
}

.element1 h3 {
	position: absolute;
	transform: translate(-50%, -50%);
	font-size: 180%;
	letter-spacing: 3px;
	color: #fff;
}

#sventems2 .element1 h3 {
	top:70%;
	left:40%;
}

#sventems3 .element1 h3 {
	top:15%;
	left:77%;
	text-align: right;
}

#sventems4 .element1 h3 {
	top:18%;
	left:38%;
}

#sventems5 .element1 h3 {
	top:85%;
	left:30%;
}

#sventems6 .element1 h3 {
	top:15%;
	left:38%;
}

.element h5,
.element p {
	padding-left: 30px;
	padding-right: 30px;
}

.element4 h5 {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.element4 hr {
	border-top: 1px solid #84a15c;
	width: 50px;
}

.element2 hr {
	border-top: 1px solid #84a15c;
	width: 90%;
	margin: 0 auto;
}

.element2,
.element3,
.element4 {
	width: 280px;
	height: 427.5px;
	background-color: #fff;
}

.element3 img {
	object-fit: cover;
	width: 280px;
	height: 427.5px;
}

.element2 img {
	object-fit: cover;
	width: 280px;
	height: 210px;
}

.element4 img {
	object-fit: cover;
	width: 120px;
	height: 120px;
	border: 0px solid transparent;
	border-radius: 200px;
}

.element4-text {
	width: 280px;
	height: 227.5px;
	overflow: hidden;
}

.element2-text1 {
	width: 280px;
	height: 165px;
	overflow: hidden;
}

.element2-text2{
	width: 280px;
	height: 46px;
	overflow: hidden;
}

.element2-text2 h5 {
	overflow: visible;
}

#sventems3 {
	background-color: #ffffffef;
	background-size: cover;
	background-attachment: fixed;
}

#sventems5 {
	background-color: #fff;
	background-size: cover;
	background-attachment: fixed;
}

.container {
margin-top: 30px;
}

.box {
	background-color: #fff;
	width: 250px;
	height: 290px;
	margin: 10px;
}

.box img {
	width: 230px;
	margin: 10px;
}

#sventems2 .flex-row, 
#sventems3 .flex-row,
#sventems4 .flex-row,
#sventems5 .flex-row,
#sventems6 .flex-row {
	flex-wrap: wrap;
}



/* -------------
VIENETINIAI
---------------*/

#vienetiniai1 {
	background-color:#e0ddd7;
}

.column {
	width: 315px;
	margin: 0 5px;
  }

.column1 {
	margin-left: 0;
}

.column2 {
	margin-right: 0;
}
  
  .column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
	object-fit: cover;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.226), 0 6px 20px 0 rgba(0, 0, 0, 0.267);
  }

  .img-type1 img {
	  height: 420px;
  }

  .img-type2 img {
	  height: 236px;
  }

  .img-type1,
  .img-type2 {
	  position: relative;
  }

  /* -------------
DARKEN
---------------*/

.darken {
    position: absolute;
	background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
	left: 0;
}

.darken1 {
	width: 315px;
	height: 420px;
	top:8px;
}

.darken2 {
	width: 315px;
	height: 236px;
	top: 8px;
}

.darken3 {
	height: 320px;
	width: 320px;
	margin:5px;
	top:0;
}

.darken p {
	text-align: center;
	color: transparent;
	margin: 20px;
	overflow: hidden;
}

.darken:hover {
	background-color: rgba(17, 17, 17, 0.63);
	transition-duration: 0.2s;
}

.darken:hover p {
	color: #fff;
}

.apie-hide {
	display:none;
}

  /* -------------
GELES 
---------------*/

#geles1 {
	background-color:#e0ddd7;
}


 /* -------------
PRIEZIURA
---------------*/

#prieziura1 {
	background-color: #e0ddd7;
	background-size: cover;
	display: flex;
	justify-content: center;
}

#prieziura1 hr,
#index4 hr,
.index6-text hr {
	border-top: 1px solid #667d46;
	width: 70px;
	margin-bottom: 10px;
}

.index6-text hr {
border-bottom: 1px solid #444;
border-left: 1px solid #444;
border-right: 1px solid #444;
}

.prieziura-text {
	width: 430px;
}

.prieziura-container img {
	width: 450px;
	height: 337px;
	object-fit: cover;
	margin: 30px 40px 30px 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.226), 0 6px 20px 0 rgba(0, 0, 0, 0.267);
}

.flex-start {
	align-items: flex-start;
}

.isskleistas {
	width: 1200px;
	border-top: 1px solid rgba(75, 75, 75, 0.185);
}

.isskleistas .flex-row {
	align-items: flex-start;
}

.prieziura-col {
	width: 205px;
	margin: 10px;
}

.prieziura-col p {
	text-align: left;
}

i {
	font-size: 2em;
	color: #667d46;
	padding: 0 0 20px 0;
}

.prieziura-container {
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.082), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 40px;
}

.w3-container {
	margin: 30px 0 20px 0;
}
/* -------------
APIE 
---------------*/

/* 
.apie-img-txt {
	width: 920px;
	height: 420px;
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.082), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 0 auto;
}

.apie-img-txt hr {
	border-top: 1px solid #667d46;
	width: 70px;
	margin-bottom: 10px;
}

#apie1-text {
	width: 500px;
	padding: 50px;
}

#apie1-img {
	width: 400px;
	height: 400px;
	object-fit: cover;
} */

#content-map {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e0ddd7; 
}

.map {
	margin-right: 30px;
}

#map,
#urmas {
	width: 600px;
	height: 324px;
	margin: 0 10px 0 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }

#urmas img {
	width: 600px;
	height: 324px;
}

   .map-urmas {
	margin-top: 30px;
	}

 /* -------------
PARDUOTUVE
---------------*/

#parduotuve1 {
	background-color: #fff;
}

#parduotuve1 img {
	width: 400px;
	height: 400px;
	object-fit: cover;
	margin: 0 10px 0 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.226), 0 6px 20px 0 rgba(0, 0, 0, 0.267);
}


/* -------------
LINKS
---------------*/

#links {
	padding-bottom: 70px;
}

.nuorodos {
	display: flex;
	justify-content: center;
	align-items: stretch;
}

.nuoroda {
	width: 400px;
	margin: 0 20px;
	text-align: center;
	font-size: 90%;
}


.aplankykite {
	width: 18%;
	position: relative;
}

.aplankykite a {
	color: #667d46;
}

.nuoroda h4 {
	padding-bottom: 20px;
}

.nuoroda p {
	text-align: left;
	font-size: 70%;
	line-height: 160%;
}

.nuoroda ion-icon {
	color: #444;
	display: inline-block;
	font-size: 120%;
}

#fb {
	position: absolute;
	left: 0px;
}

#in {
	position: absolute;
	left: 52px;
}

#fb:hover {
	color: #4367b0;
	transition-duration: 0.2s;
}

#in:hover {
	color: #c7268f;
	transition-duration: 0.2s;
}

.aplankykite i {
	color: rgba(34, 34, 34, 0.877);
	margin: 5px;
}

/* -------------
FOOTER
---------------*/

footer {
	background-color: #111;
}

footer div {
	display: flex;
	justify-content: center;
	padding: 30px;
}





.sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #111;;
	box-shadow: 0 2px 2px rgba(17, 17, 17, 0.383);
	z-index: 999;
	margin: 0px;
	padding-top: 25px;
	padding-bottom: 25px;
}



.next {
	width:50px;
	height: 50px;
	background-color: rgb(32, 31, 31);
	position: relative;
}

.next i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0;
	color: rgba(255, 255, 255, 0.767);
}

.previous {
	width:50px;
	height: 50px;
	background-color: rgb(32, 31, 31);
	position: relative;
}

.previous i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0;
	color: rgba(255, 255, 255, 0.767);
}

.largen {
	height: 100vh;
	width: auto;
}
	
	/* Styles the lightbox, removes it from sight and adds the fade-in transition */
	
	.lightbox-target {
	position: fixed;
	top: -100%;
	width: 100%;
	background: rgba(0,0,0,.7);
	width: 100%;
	opacity: 0;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
	overflow: hidden;
	z-index: 1;
	}
	
	/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */
	
	.lightbox-target img {
	margin: 0;
	width: 35%;
	height: auto;
	box-shadow: 0px 0px 8px rgba(0,0,0,.3);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	}
	
	/* Styles the close link, adds the slide down transition */
	
	a.lightbox-close {
	display: block;
	width:50px;
	height:50px;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.89);
	position: absolute;
	top: -80px;
	right: 0;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	}

	a.lightbox-close i {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 0;
		color: rgb(32, 31, 31);
	}
	
	/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */
	
	.lightbox-target:target {
	opacity: 1;
	top: 0;
	bottom: 0;
	}
	
	.lightbox-target:target img {
	max-height: 100%;
	max-width: 100%;
	}
	
	.lightbox-target:target a.lightbox-close {
	top: 0px;
	}