/* -------------
MAIN INFO
---------------*/


* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

html {
	background-color: #fff;
	color: #444;
	font-weight: 500;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
}

body {
	font-family: 'Raleway', sans-serif;
}

.flex-column {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.flex-row {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.row {
	width: 90%;
	margin: 0 auto;
}

.body {
	max-width: 1140px;
	margin: 0 auto;
}

section {
    padding: 50px 0;
}

.title {
	margin-bottom: 15px;
}

.title-text {
	width: 70%;
}

.nav button,
.suzinoti-daugiau button {
	text-transform: uppercase;
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1.1px;
	color: #eee;
	text-decoration: none;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

a {
	text-decoration: none;
}

/* -------------
HEADINGS
---------------*/
h1 {
	color: white;
	font-weight: 300;
	text-align: center;
	font-size: 30px;
}

h2 {

	font-weight: 400;
	letter-spacing: 1.1px;
	color: #b00208;
	font-family: 'Caveat Brush', cursive;
}

h5 {
	font-weight: 500;
	text-align: center;
}

h6 {
	padding: 8px;
	font-size: 15px;
	font-weight: 600;
}

p {
	font-size: 15px;
	text-align: justify;
	letter-spacing: 1.1px;
}

.card p {
	text-align: center;
	font-weight: 500;
}

.card a {
	text-decoration: none;
}

#index3 .product p {
	text-align: center;
	padding: 8px 0;
	font-size: 13px;
}

.price p {

}

.box p {
	text-align: center;
	padding: 6px;
}

.title-text p {
	text-align: center;
}

footer p {
	font-size: 70%;
}

/* -------------
HEADER
---------------*/

#header {

}

#logo {
	width: 200px;
	margin-top: 10px;
}

.nav {
	background-color: #111;
	height: 40px;
	margin: 20px 0px 10px 0px;
}

.nav button {
	height: 40px;
	width: 120px;
	background-color: transparent;
	border: none;
}

.nav button:hover {
	background-color: #444;
	transition-duration: 0.2s;
}




.cover {

}

#slides {
	background-image: url(../images/coveris.jpg);
	background-repeat: no-repeat;  
	background-size: cover;
	height: 450px;
	position: relative;
}

#hero-text {
	position: absolute;
	top: 65%;
	transform: translateY(-50%);
	width: 50%;
}

.suzinoti-daugiau button {
	background-color: rgba(0, 0, 0, 0.3);
	padding: 18px 20px;
	border: 2px #fff solid;
}

.suzinoti-daugiau {
	position: absolute;
	top: 83%;
	transform: translateY(-50%);
}

.suzinoti-daugiau:hover {
	background-color: rgba(0, 0, 0, 0.664);
	transition-duration: 0.2s;
}

.image-line {
	background-image: url(../images/xxx.jpg);
	width: 90%;
	background-size: cover;
}

.image-line-text {
	background-color: rgba(255, 255, 255, 0.513);
	padding: 20px 30px;
	margin: 40px 0;
}

/* -------------
INDEX1
---------------*/

#index1 {
	padding-bottom: 0px;
}

.ornament {
	width: 40px;
	margin: 0 10px 0 10px;
}

/* -------------
INDEX2
---------------*/

#index2-pic {
	height: 556px
}

#cards {
	width: 500px;
	margin: 0 9px 0 0;
}

.card {
	border-bottom: 1px rgba(0, 0, 0, 0.15) solid;
	padding-left: 9px;
}

.card-img {
	width: 240px;
	padding: 10px 0;
}

.no-border {
	border: none;
}

.card-text {
	width: 250px;
}

.card-text img {
	width: 30px;
}

#index2 a {
	text-decoration: none;
	color: #444;
}

.card:hover {
	background-color: rgba(202, 201, 199, 0.143);
	transform: scale(1.005);
	transition-duration: 0.2s;
}


/* -------------
INDEX3
---------------*/

#index3,
#prieziura1 {
	background-color: rgba(235, 221, 221, 0.239);
	background-size: cover;
	display: flex;
	justify-content: center;
}

#index3 .products,
#prieziura1 .products {
	width: 1040px;
	padding: 10px 0;
}

#index3 .product {
	background-color: #fff;
	padding: 5px;
	margin: 0 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: relative;
}

#index3 .product img {
	width: 200px;
}

.prices {
	background-color: #fff;
	width: 150px;
	border: 1px rgba(7, 7, 7, 0.37) solid;
	top: 87%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.price-text {
}

.price {
	color: #fff;
	background-color: #b00208;
}

.ziureti-daugiau {
	margin-top: 30px;
}

.ziureti-daugiau button {
	padding: 15px 30px;
	text-transform: uppercase;
	text-decoration: none;
	color: rgb(98, 98, 98);
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1.1px;
	background-color: rgba(255, 255, 255, 0.822);
	border: 1px rgba(170, 170, 170, 0.137) solid;
}

.ziureti-daugiau button:hover {
	color: #b00208;
	border: 1px #80141773 solid;
	transition-duration: 0.2s;
}

/* -------------
INDEX4
---------------*/

#index4 {

}

#index4-img, 
#apie1-img,
#parduotuve1-img {
	width: 400px;
	margin: 0 50px;
}

#index4-text, 
#apie1-text,
#parduotuve1-text {
	width: 400px;
}

/* -------------
INDEX5
---------------*/

#index5 {
	background-image: url(../images/xx.jpg);
	background-size: cover;
	height: 600px;
	position: relative;
}

#circle {
    position: absolute;
    height: 400px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 0px solid black;
    border-radius: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#circle p {
    color: white;
	text-align: center;
	width: 300px;
}

/* -------------
SVENTEMS1
---------------*/

#sventems1 .product {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: relative;
	height: 133.6px;
	margin: 2px;
}

#sventems1 img {
	width: 200px;
	height: 133.6px;
}

.category {
	width: 150px;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	color: #fff;
	text-transform: uppercase;
}

.category p {
	font-size: 17px;
	background-color: rgba(0, 0, 0, 0.39);
}

#sventems1 .product p {
	width: 200px;
	height: 133.6px;
	font-size: 14px;
	font-weight: 600;
}

#sventems1 .product p:hover {
	background-color: rgba(0, 0, 0, 0.486);
	transition-duration: 0.2s;
}

/* -------------
SVENTEMS2,3,4,5
---------------*/

#sventems2 {
	background-color: #eee;
}

#sventems3 {
	background-image: linear-gradient(to right, rgba(116, 128, 94, 0.6), rgba(0, 0, 0, 0.602)), url(../images/dotss.jpg);
}

#sventems4 {
	background-color: #eee;
}

#sventems5 {
	background-image: linear-gradient(to right, rgba(116, 128, 94, 0.6), rgba(0, 0, 0, 0.602)), url(../images/dotss.jpg);
}

.container {
margin-top: 30px;
}

.box {
	background-color: #fff;
	width: 250px;
	height: 290px;
	margin: 10px;
}

.box img {
	width: 230px;
	margin: 10px;
}

.box hr {

}

#sventems2 .flex-row, 
#sventems3 .flex-row,
#sventems4 .flex-row,
#sventems5 .flex-row {
	flex-wrap: wrap;
}

/* -------------
VIENETINIAI
---------------*/

.gallery-title1 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.gallery-title1 img {
	width: 80px;
}

/* Create four equal columns that sits next to each other */
.column {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
  }
  
  .column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media (max-width: 800px) {
	.column {
	  flex: 50%;
	  max-width: 50%;
	}
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
	.column {
	  flex: 100%;
	  max-width: 100%;
	}
  }


  /* -------------
GELES 
---------------*/

.darken img {
	width: 276px;
	height: 368px;
}

.darken {
	position: relative;
}

.darken p {
	position: absolute;
	width: 276px;
	height: 368px;
	top: 0px;
	padding: 65% 0 50% 0;
	text-align: center;
	color: transparent;
	margin-top: 8px;
}

.darken p:hover {
	color: #fff;
	background-color: rgba(17, 17, 17, 0.63);
	transition-duration: 0.2s;
}

 /* -------------
PRIEZIURA
---------------*/



.prieziura-text {
	width: 450px;
	padding: 15px;
	margin: 20px;
}

.prieziura-container img {
	width: 450px;
	margin: 30px;
}

.flex-start {
	align-items: flex-start;
}

.isskleistas {
	width: 1200px;
	border-top: 1px solid rgba(75, 75, 75, 0.185);
}

.isskleistas .flex-row {
	align-items: flex-start;
}

.prieziura-col {
	width: 205px;
	margin: 10px;
}

.prieziura-col h5 {
	text-align: left;
	text-transform: uppercase;
}

.prieziura-col p {
	text-align: left;
}

i {
	font-size: 2em;
	color: #4CAF50;
}

.prieziura-container {
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.082), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 40px;
}

.w3-container {
	margin: 30px 0 20px 0;
}

hr {
	color: black;
}
/* -------------
APIE 
---------------*/

#content-map {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.map {
	margin-right: 30px;
}

#map {
	height: 250px;
	width: 450px;
   }


 /* -------------
PARDUOTUVE
---------------*/

#urmas {
	width: 500px;
}

/* -------------
LINKS
---------------*/

.nuorodos {
	display: flex;
	justify-content: center;
	align-items: stretch;
}

.nuoroda {
	width: 25%;
	margin: 0 10px;
	text-align: center;
	font-size: 90%;
}

.aplankykite {
	width: 18%;
}

.nuoroda h4 {
	padding-bottom: 20px;
}

.apie {
	text-align: justify;
	font-size: 70%;
	line-height: 160%;
}

.nuoroda ion-icon {
	color: #444;
	display: inline-block;
	font-size: 120%;
}

#fb:hover {
	color: #4367b0;
	transition-duration: 0.2s;
}

#in:hover {
	color: #c7268f;
	transition-duration: 0.2s;
}

.aplankykite i {
	color: rgba(34, 34, 34, 0.877);
	margin: 5px;
}

/* -------------
FOOTER
---------------*/

footer {
	background-color: #111;
}

footer div {
	display: flex;
	justify-content: center;
	padding: 30px;
}





.sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #111;;
	box-shadow: 0 2px 2px rgba(17, 17, 17, 0.383);;
	z-index: 999;
	margin: 0px;
	padding-top: 25px;
	padding-bottom: 25px;
}